.App {
  text-align: center;
}
body {
  margin: 0;
}
.App-header {
  background-color: #1a222c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
